/************ ESTILOS GLOBALES ************/

.top-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Ajusta el tamaño del degradado */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  pointer-events: none; /* Para que no interfiera con los clics */
  z-index: 1000;
}


.Contenedor-projects {
  max-width: 70%;
  margin: 0 auto;
}

@media(max-width:768px){
  .Contenedor-projects {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

}


.color-gris{
  color: #7f7f7f;
}






/************ CERRAR LA VISTA DEL PROYECTO ************/



.pcerrarproyecto{
  padding: 10px;
  background: #e8e5e480;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

}

.pcerrarproyecto:hover{
  background: #000;
  transition:all .3s ease-in-out;
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
}

.pcerrarproyecto:hover img{
  filter: invert();
  -webkit-filter: invert();
}

/************ TITULOS ************/

.hero{
  margin: 180px 0;
}

/************ imagenes del proyectos ************/




.imagen-muestra_projects{
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

@media(max-width:768px){
   .imagen-muestra_projects{
    width: 90vw!important;
    height: 400px!important;
   }
}

@media(max-width:568px){
  .imagen-muestra_projects{
   width: 90vw!important;
   height: 350px!important;
  }
}

@media(max-width:568px){
  .imagen-muestra_projects{
   width: 90vw!important;
   height: 300px!important;
  }
}


.pproyectos{
  padding: 0;
}

.imagen-muestra:hover {
  transform: none;
  filter: none;
  -webkit-filter: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}


/**** DESCRIPCION ****/

.pdescripcion-projects{
  padding: 40px 0;
}

.overview-projects{
  font-size: .9rem;
  font-weight: 500;
  padding: 100px 0;
}

.overview-projects a{
  color: #000;
}

.overview-projects a:hover{
  color: #7f7f7f;
}



